@charset "utf-8";

/**
 * 基本样式
 */

//@import '_constant';
html, body {
    -webkit-user-select: none;
    user-select: none;
    font-family: "Microsoft YaHei", Helvetica;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
    color: $placeholderColor;
}

ul li {
    list-style: none;
}

.flexbox {
    @include flexbox;
}

.flex {
    @include flex;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
    &:before, &:after {
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        content: '\0020';
        font-size: 0;
    }
}

.dn {
    display: none !important;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.dib-fix {
    font-size: 0;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center !important;
}

.tr {
    text-align: right;
}

.vm {
    vertical-align: middle;
}

.vt {
    vertical-align: top;
}

.fw-b {
    font-weight: bold;
}

.fs12 {
    font-size: 12px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs18 {
    font-size: 18px !important;
}

.textOverflow {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breakWord {
    word-wrap: break-word;
    word-break: break-all;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.w-auto {
    width: auto !important;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.m30 {
    margin: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px;
}

.mt15 {
    margin-top: 15px !important;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mr3 {
    margin-right: 3px;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb11 {
    margin-bottom: 11px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml3 {
    margin-left: 3px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb30 {
    padding-bottom: 30px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl50 {
    padding-left: 50px;
}

.weui_mask, .weui_mask_transition {
    z-index: 10;
}

.weui_actionsheet_toggle {
    z-index: 11;
}

.pullDown, .pullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
    text-align: center;
}

.pullDown .pullDownIcon, .pullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

.pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

.pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

.pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

@keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

.data_wrap .weui_grids {
    padding: 0 15px;
    border-bottom: 1px solid $borderColor;
}

.data_wrap .weui_grid_label {
    color: $gridLabelColor;
    text-align: left;
}

.data_wrap .weui_grids .weui_grid:last-child .weui_grid_label {
    text-align: right;
}

.data_wrap .weui_grids.active .weui_grid_label {
    color: $black;
}

.weui_grids {
    &:after, &:before {
        border: none !important;
    }
    .weui_grid {
        width: 20%;
        padding: 5px 0 !important;
        &:after, &:before {
            border: none !important;
        }
    }
}

.thead {
    background: $tableHeadBgColor;
    padding: 0 !important;
    margin-bottom: 0;
    .weui_grid {
        padding: 2px 0 !important;
    }
    .weui_grid_label {
        color: $white;
    }
}


/** Router页面切换特效*/

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

.enter, .leave {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1
}

.enter {
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards
}

.leave {
    -webkit-animation: b .25s forwards;
    animation: b .25s forwards
}

.weui_btn {
    background-color: $buttonBgColor;
    line-height: 2.4 !important;
}

.weui_btn_primary:not(.weui_btn_disabled):active {
    background-color: $buttonBgColor;
}

.weui_icon_success:before {
    color: $buttonBgColor;
}

.weui_btn_dialog.primary {
    color: $buttonBgColor;
}

.weui_cell_ft {
    color: #000000;
}

.weui_cell_ft:after {
    width: 9px !important;
    height: 9px !important;
    vertical-align: middle;
}

.boldface_label {
    color: #000 !important;
    font-size: 16px;
    line-height: 1.4;
}

.weui_cells {
    font-size: 15px;
}

.weui_input {
    line-height: normal;
}


/* 
.weui_label {
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
} */

.weui_cell_hd {
    color: #666666;
    margin-right: 15px;
}

.weui_uploader_input_wrp {
    border: 0;
    &:after, &:before {
        content: none;
    }
}

.weui_uploader_input {
    background: url(../images/camera.png) center center no-repeat;
    opacity: 1;
    border: none;
    outline: none;
    background-size: cover;
    &:active {
        border: 1px dashed #01a3e4;
    }
}

.button_sp_area {
    margin: 10px auto;
    width: calc(100% - 30px);
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 0;
    &:after {
        display: inline-block;
        width: 100%;
        height: 0;
        font-size: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        content: ".";
    }
    .weui_btn_mini {
        padding: .1em 2.4em;
        font-size: 16px;
    }
}

.weui_actionsheet_rtl {
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.weui_actionsheet_rtl.weui_actionsheet_toggle {
    -webkit-transform: translate(0);
    transform: translate(0);
}

.weui_btn_area {
    margin-top: .3em;
}

.cancel_btn {
    background-color: #666666 !important;
}

.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    vertical-align: middle;
}

.no_data {
    position: fixed;
    top: 44px;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    .none_img {
        width: 220px;
        height: 136px;
        margin: 10rem auto 0;
        background: url(../images/none.png) center center no-repeat;
        background-size: cover;
    }
}

.nav_fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.weui_grid:active {
    background-color: transparent;
}

.back:before {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    width: 14px;
    height: 14px;
    vertical-align: middle;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    position: relative;
    top: -2px;
}

.filter_back {
    width: 44px;
}

.c-red {
    color: #ff0000;
}


/*
#query_summary{padding: 0 5%;margin: 0 auto;background: #ececec;}
#query_summary div:nth-of-type(1),
#query_summary div:nth-of-type(3){width: 30%;}
#query_summary div:nth-of-type(2),
#query_summary div:nth-of-type(4){line-height: 3.1;}
.simulate_tab{width: 80% !important;text-align: center !important;}
.simulate_tab .weui_btn{border-radius: 0;}
.simulate_tab .weui_btn ~ .weui_btn:after{border-left: none;}
.simulate_tab .weui_btn:after{border-radius: 0;}
.tab_wrap{border-top: 1px dashed #e5e5e5;}
#rntDataWrapper .weui_grid:after,
#frzDataWrapper .weui_grid:after{border-bottom: 1px solid #d9d9d9 !important;}
@media screen and (max-width:320px){.weui_grid_label{font-size: 12px;}}
@media screen and (min-width:321px) and (max-width:375px){.weui_grid_label{font-size: 13px;}}
@media screen and (min-width:376px) and (max-width:414px){.weui_grid_label{font-size: 13px;}}*/

.up-arrow {
    &:after {
        -webkit-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) !important;
    }
}

.down-arrow {
    &:after {
        -webkit-transform: rotate(135deg) !important;
        transform: rotate(135deg) !important;
    }
}

.textJustify {
    display: inline-block;
    height: 24px;
    text-align: justify;
    text-align-last: justify;
    vertical-align: middle;
    &:after {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        height: 0;
        content: '';
        vertical-align: top;
    }
}

.weui_cells_checkbox .weui_check:checked+.weui_icon_checked:before {
    color: #fe5f1b;
}
