.percentageBar {
    display: inline-block;
    width: 408px;
    height: 20px;
    transform: scale(0.7,0.8)translate(-20%,0);
}

.percentageBar .container {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    background-color: #1e3249;
    position: relative;
    padding-left: 2px;
}

.percentageBar .container:after {
    content:'';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.percentageBar .wrapper {
    padding:4px 0;
    height: 100%;
}

.percentageBar .layer {
    position: absolute;
    top:-37px;
    width: 50px;
    height: 37px;
    padding-top: 5px;
    text-align: center;
    color:#fff;
    background: url(../image/layer.png) 0 0 no-repeat;
    background-size:100% 100%;
}

.percentageBar .wrapper , .progress {
    float: left;
}

.percentageBar .progress {
    background:linear-gradient(to right,#ec7731,#0bf5fe);
    height: 100%;
    overflow: hidden;
}

.percentageBar .progress:after {
    content:'';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.percentageBar .progress li {
    float: left;
    width: 2px;
    height: 100%;
    background-color: #1e3249;
    font-size: 0;
}

.percentageBar .progress li+li {
    margin-left: 6px;
}

.percentageBar .progress li:first-of-tyoe {
    width: 0;
}