/* --------------------------------

Primary style

-------------------------------- */

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}

ul.clearfix li {
    float: left
}

.clearfix {
    *zoom: 1
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -icab-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

@media screen and (max-device-width:960px) {
    body {
        -webkit-text-size-adjust: none
    }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

html {
    overflow-y: visible;
    overflow-x: hidden
}

select {
    border: 1px solid #dee1e3;
    font-size: 12px;
    color: #333;
    line-height: 12px
}

ul {
    list-style: none
}

ol {
    list-style: decimal inside
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: none
}

a:focus {
    outline: 0
}

span {
    color: inherit
}

a img {
    vertical-align: middle
}

label[for] {
    cursor: pointer
}

body, html {
    height: 100%;
}

body {
    overflow: hidden;
}

#datavLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f2a42;
}

#datavLoading img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
}

.datavLayout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.datavLayout .data-com {
    position: absolute !important;
    margin: 0 !important;
}

#datavTextLogo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    z-index: 99999999;
}

.layout-aside, .layout-main {
    float: left;
    height: 100%;
    text-align: center
}

.layout {
    padding: 0 490px;
    height: 100%;
    overflow: hidden;
}

.layout-main {
    position: relative;
    width: 100%;
}

.layout-aside {
    position: relative;
    width: 490px;
    /* background: rgba(255, 255, 255, 0.05); */
}

.layout-aside__left {
    margin-left: -490px;
}

.layout-aside__right {
    margin-right: -490px;
    float: right;
}

.number_box {
    float: left;
    overflow: hidden;
    margin-top: 2px;
    height: 60px;
    font-size: 48px;
    color: #fff;
}

.number_item {
    float: left;
    /*width: 15px;*/
    height: 60px;
    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: 700;
    margin-left: 3px
}

.number_item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-style: solid;
    border-color: currentColor;
    border-width: 1px;
    border-radius: 3px;
    opacity: .3
}

.main-img {
    left: 136px;
    top: 0px;
    width: 1596px;
    height: 107px;
    z-index: 1;
}

.main-img .data-wrapper {
    width: 1596px;
    height: 107px;
    background-image: url(../image/header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-title {
    left: 640px;
    top: 8px;
    width: 645px;
    height: 65px;
    z-index: 41;
}

.main-title .data-wrapper {
    width: 645px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: "Microsoft Yahei", Arial, sans-serif;
    font-size: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.echarts-map-chart {
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    height: 520px;
}

.echarts-pie-chart {
    position: absolute;
    padding: 25px;
    right: 0;
    bottom: 28px;
    width: 450px;
    height: 310px;
}

.echarts-proportion-pie-chart {
    width: 410px;
    height: 310px;
}

.echarts-line-chart {
    position: absolute;
    padding: 25px;
    left: 28px;
    bottom: 28px;
    width: 845px;
    height: 310px;
}

.counter-wrapper {
    top: 125px;
}

.counter-wrapper__left {
    left: 36px;
}

.counter-wrapper__right {
    right: 36px;
}

.counter-wrapper .title-container {
    display: block;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-family: "Microsoft Yahei";
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
    margin: 0px;
}

.counter-container {
    display: flex;
    align-items: baseline;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    justify-content: flex-start;
    line-height: 110px;
    font-family: "Microsoft Yahei";
    height: 94px;
    background-color: rgba(0, 0, 0, 0);
}

.counter-container .prefix {
    background-color: rgba(51, 163, 179, 0.7);
    display: inline-block;
    letter-spacing: 0.02em;
    text-indent: 0.02em;
    height: auto;
    line-height: normal;
    font-size: 64px;
    letter-spacing: 0.02em;
    margin-right: 0em;
    border-radius: 0px;
}

.counter-container .number {
    display: inline-block;
    letter-spacing: 0.02em;
    text-indent: 0.02em;
    height: auto;
    line-height: normal;
    font-size: 56px;
    letter-spacing: 0.02em;
    margin-right: 0em;
    border-radius: 0px;
}

.counter-container .suffix {
    content: "个";
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    vertical-align: super
}

.counter-wrapper__left .number {
    background-color: rgba(241, 120, 107, 0.7);
}

.counter-wrapper__right .number {
    background-color: rgba(45, 50, 67, 0.7);
}

.business-alarm-title {
    left: 68px;
    top: 68px;
    width: 205px;
    height: 50px;
    z-index: 13;
}

.business-alarm-title .data-wrapper {
    width: 205px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-family: YouYuan, Arial, sans-serif;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.business-alarm-subtitle {
    left: 68px;
    top: 92px;
    width: 205px;
    height: 50px;
    z-index: 25;
}

.business-alarm-subtitle .data-wrapper {
    width: 205px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-family: sans-serif, Arial, sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ml-table-bar {
    left: 68px;
    top: 156px;
    width: 152px;
    height: 604px;
    z-index: 15;
}

.ml-table-bar .data-wrapper {
    width: 152px;
    height: 604px;
    transform: translate3d(0px, 0px, 0px);
    font-family: "Microsoft Yahei", Arial, sans-serif;
}

.ml-table-bar .table-line {
    position: relative;
    perspective: 250px;
    perspective-origin: 50% 100%;
}

.ml-table-bar .rotate {
    display: flex;
    align-items: center;
    margin-bottom: 17.5px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0px;
    transform: rotateX(0deg);
    width: 100%;
    transition: transform 500ms cubic-bezier(0.15, 0.52, 0.5, 0.9);
    height: 33.5px;
}

.ml-table-bar .table-content {
    position: relative;
    display: flex;
    vertical-align: bottom;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    flex: auto;
}

.ml-table-bar .line-segment {
    height: 1px;
    background: rgba(240, 241, 246, 0);
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 17.5px;
}

.ml-table-bar .light {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 1px;
    background: radial-gradient(rgba(21, 236, 243, 0) 5%, rgba(0, 0, 0, 0) 80%);
    transform: translateX(172px);
    transition: transform 600ms ease-in-out;
}

.percentage-bar {
    left: 180px;
    top: 128px;
    width: 280px;
    height: 58px;
    z-index: 32;
}

.percentage-bar .data-wrapper {
    width: 280px;
    height: 58px;
    font-family: "Microsoft Yahei";
    overflow: hidden;
}

.percentage-bar .percent-tooltip {
    display: inline-block;
    margin: 0px auto 0px 21.8435px;
    position: relative;
    padding: 5px;
    opacity: 1;
    font-size: 14px;
    transform: translate3d(-50%, 0px, 0px);
}

.percentage-bar .border {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: none;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    border-image: initial;
    border-radius: 1px;
    opacity: 1;
}

.percentage-bar .left-border {
    width: 60%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.percentage-bar .arrow {
    position: absolute;
    bottom: -5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    width: 11px;
    height: 11px;
    border-radius: 0px 0px 1px;
    transform: rotate(45deg) skew(10deg, 10deg);
}

.percentage-bar .right-border {
    width: 60%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.percentage-bar .right {
    position: relative;
    width: 1.5%;
    float: right;
    height: 16px;
}

.percentage-bar .right-before {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 1px;
    box-sizing: border-box;
}

.percentage-bar .left {
    position: relative;
    width: 1.5%;
    float: left;
    height: 16px;
}

.percentage-bar .left-before {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 1px;
    box-sizing: border-box;
}

.percentage-bar .inner {
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 2px;
    position: relative;
    margin: 0px 3px;
    box-sizing: content-box;
    height: 10px;
}

.percentage-bar-2 {
    top: 196px;
}

.percentage-bar-3 {
    top: 268px;
}

.percentage-bar-4 {
    top: 340px;
}

.percentage-bar-5 {
    top: 408px;
}

.percentage-bar-6 {
    top: 476px;
}

.layout-aside__right .data-com {
    left: 40px;
}

.alarm-proportion {
    top: 156px;
    width: 410px;
    z-index: 15;
}

.alarm-proportion li {
    float: left;
    width: 33.33%;
}

.alarm-proportion .proportion-header {
    text-align: left
}

.alarm-proportion .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    position: relative;
    top: -4px;
    background: #f1786b
}

.alarm-proportion .proportion-txt {
    font-size: 16px;
    color: #fff
}

.alarm-proportion .counter {
    float: left;
}

.alarm-proportion .proportion-main {
    margin-top: 30px;
    line-height: 28px;
    color: #fff
}

.alarm-proportion .counter-trend .suffix {
    display: inline-block;
    width: 8px;
    height: 15px;
}

.alarm-proportion .counter-trend .suffix.rise {
    background-image: url(../image/rise.png)
}

.alarm-proportion .counter-trend .suffix.fall {
    background-image: url(../image/fall.png)
}

.alarm-proportion .counter .number {
    font-size: 28px;
    font-weight: bold;
    color: #4ff5f5
}

.proportion-footer .counter {
    padding: 5px 2px;
    margin-top: 15px;
    background: rgba(185, 212, 255, 0.3);
    color: #fff
}

.proportion-footer .number-wrapper {
    font-size: 16px;
    color: #fff
}

.proportion-footer .number {
    color: #fff !important;
    font-size: 16px !important
}

.proportion-footer .suffix {
    font-size: 14px;
}

.alarm-proportion .two .dot {
    background: #fdc77c
}

.alarm-proportion .three .dot {
    background: #5ac8ae
}

.realtime-title {
    left: 40px;
    top: 652px;
    width: 205px;
    height: 50px;
    z-index: 14;
}

.realtime-title .data-wrapper {
    width: 205px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-family: YouYuan, Arial, sans-serif;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.realtime-subtitle {
    left: 40px;
    top: 676px;
    width: 205px;
    height: 50px;
    z-index: 31;
}

.realtime-subtitle .data-wrapper {
    width: 205px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-family: sans-serif, Arial, sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.timer {
    left: 724px;
    top: 92px;
    width: 456px;
    height: 52px;
    z-index: 16;
}

.timer .data-wrapper {
    width: 456px;
    height: 52px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    font-family: "Microsoft Yahei";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-table {
    left: 0 !important;
    top: 722px;
    width: 460px;
    height: 336px;
    z-index: 5;
}

.carousel-table .data-wrapper {
    width: 460px;
    height: 336px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}

.carousel-table .header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);
}

.carousel-table .index-list {
    display: inline-block;
    vertical-align: middle;
    width: 22%;
    height: 40px;
}

.carousel-table .column-title {
    width: 28%;
    display: inline-block;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    background-color: transparent;
    font-family: YouYuan;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
}

.carousel-table .column-title-2 {
    width: 60%;
}

.carousel-table .row-content {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.carousel-table .index {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 22%;
    color: #ffffff;
    font-size: 14px;
}

.carousel-table .index-bg {
    background-color: rgba(241, 90, 34, 0.54);
    width: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    margin: auto;
    border-radius: 50%;
    text-align: center;
}

.carousel-table .cell-content {
    width: 28%;
    display: inline-block;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    background-color: transparent;
    font-family: Microsoft Yahei;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
}

.carousel-table .cell-content-2 {
    width: 60%;
    color: #d06a4d;
}

.bg-box-1 {
    left: 36px;
    top: 132px;
    width: 454px;
    height: 580px;
    z-index: -1;
}

.bg-box-1 .data-wrapper {
    width: 454px;
    height: 580px;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
}

.bg-box-2 {
    left: 36px;
    top: 750px;
    width: 454px;
    height: 300px;
    z-index: -1;
}

.bg-box-2 .data-wrapper {
    width: 454px;
    height: 300px;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
}

.bg-box-3 {
    left: 1430px;
    top: 136px;
    width: 460px;
    height: 500px;
    z-index: -1;
}

.bg-box-3 .data-wrapper {
    width: 460px;
    height: 500px;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
}

.bg-box-4 {
    left: 1430px;
    top: 652px;
    width: 460px;
    height: 404px;
    z-index: -1;
}

.bg-box-4 .data-wrapper {
    width: 460px;
    height: 404px;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
}

.bg-box-5 {
    left: 526px;
    top: 750px;
    width: 868px;
    height: 300px;
    z-index: -1;
}

.bg-box-5 .data-wrapper {
    width: 868px;
    height: 300px;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
}

.percent-box {
    position: absolute;
    background: transparent;
    width: 76px;
    height: 76px;
    top: 888px;
    left: 228px;
    font-family: "Microsoft Yahei", Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.percent-box .up {
    display: inline-block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.percent-box .percent-text {
    width: 100%;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
}

@keyframes scaleIn {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.scaleIn {
    animation: scaleIn 0.5s;
    -webkit-animation: scaleIn 0.5s;
}

@keyframes scaleOut {
    from {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

.scaleOut {
    animation: scaleOut 0.5s;
    -webkit-animation: scaleOut 0.5s;
}
